#----------------------------------------------------------------------------
# .gitignore
#

#----------------------------------------------------------------------------
# Ignore Rubymine configuration
/.idea

# Ignore bundler config
/.bundle

# Ignore asset sync
/config/initializers/asset_sync.rb

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
