<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><p class="brand"><%= name.capitalize %></li>
			<form method="get" class="navbar-search">
				<input type="text" name="search" value="<%= params[:search] %>" class="input-medium search-query">
				<button type="submit" class="btn-primary"><%= t('button.search') %></button>
			</form>
		</ul>
	</div>
</div>
