<ul class="nav">
	<li class="dropdown">
		<a class="dropdown-toggle"
		   id="mainmenudd"
		   role="button"
		   data-toggle="dropdown"
		   data-target="#"
		   title="<%= t('.mainmenu') %>"
		   href="#"><%= t('.mainmenu') %><b class="caret"></b></a>
		<ul class="dropdown-menu"
			role="menu"
			aria-labelledby="mainmenudd">
			<li><%= link_to t('.load_books'), load_books_path %></li>
			<li><%= link_to t('.books_ruby_on_rails'), books_path %></li>
		</ul>
	</li>
</ul>
